.border  {
    background-color: white;
    width: 3em;
    height: 3em;
    margin: 4px;
    padding: 10px;     
    animation-name: enterpulse;
    animation-duration: .25s;
    animation-delay: 0;
    transition: background-color 5s;
  }

  @keyframes enterpulse {
    from {
      transform: scale(1);
    }

    50%{
      transform: scale(1.2);
    
    }

    to {
      transform: scale(1);
    }
  }

.is-correct{
  background-color: green;
}

.is-in-word{
  background-color: yellow;
}

.not-in-word{
  background-color: darkgrey;
}



  .borderflip {
    width: 3em;
    height: 3em;
    margin: 4px;
    padding: 10px;     
    animation-name: flip;
    animation-duration: 2s;
    animation-fill-mode: forward;
    /* animation-fill-mode: none; */
    animation-delay: .25s;
  }

  .borderflipG0  {
    width: 3em;
    height: 3em;
    margin: 4px;
    padding: 10px;     
    animation-name: flipG0;
    animation-duration: 2s;
    animation-fill-mode: forward;
    /* animation-fill-mode: none; */
    /* animation-delay: .25s; */
    background-color: green;
    /* transition: background-color .5s; */
  }

  .borderflipG1  {
    width: 3em;
    height: 3em;
    margin: 4px;
    padding: 10px;     
    animation-name: flipG1;
    animation-duration: 2s;
    animation-fill-mode: forward;
    /* animation-fill-mode: none; */
    /* animation-delay: .25s; */
        background-color: green;
    /* transition: background-color .5s; */
  }

  .borderflipG2  {
    width: 3em;
    height: 3em;
    margin: 4px;
    padding: 10px;     
    animation-name: flipG2;
    animation-duration: 2s;
    animation-fill-mode: forward;
    /* animation-fill-mode: none; */
    /* animation-delay: .25s; */
    background-color: green;
    /* transition: background-color .5s; */
  }

  .borderflipG3  {
    width: 3em;
    height: 3em;
    margin: 4px;
    padding: 10px;     
    animation-name: flipG3;
    animation-duration: 2s;
    animation-fill-mode: forward;
    /* animation-fill-mode: none; */
    /* animation-delay: .25s; */
    background-color: green;
    /* transition: background-color .5s; */
  }

  .borderflipG4  {
    width: 3em;
    height: 3em;
    margin: 4px;
    padding: 10px;     
    animation-name: flipG4;
    animation-duration: 2s;
    animation-fill-mode: forward;
    /* animation-fill-mode: none; */
    /* animation-delay: .25s; */
    background-color: green;
    /* transition: background-color .5s; */
  }

  .borderflipY0  {
    width: 3em;
    height: 3em;
    margin: 4px;
    padding: 10px;     
    animation-name: flipY0;
    animation-duration: 2s;
    animation-fill-mode: forward;
    /* animation-fill-mode: none; */
    /* animation-delay: .25s; */
    background-color: yellow;
  }

  .borderflipY1  {
    width: 3em;
    height: 3em;
    margin: 4px;
    padding: 10px;     
    animation-name: flipY1;
    animation-duration: 2s;
    animation-fill-mode: forward;
    /* animation-fill-mode: none; */
    /* animation-delay: .25s; */
        background-color: yellow;
  }

  .borderflipY2  {
    width: 3em;
    height: 3em;
    margin: 4px;
    padding: 10px;     
    animation-name: flipY2;
    animation-duration: 2s;
    animation-fill-mode: forward;
    /* animation-fill-mode: none; */
    /* animation-delay: .25s; */
    background-color: yellow;
  }

  .borderflipY3  {
    width: 3em;
    height: 3em;
    margin: 4px;
    padding: 10px;     
    animation-name: flipY3;
    animation-duration: 2s;
    animation-fill-mode: forward;
    /* animation-fill-mode: none; */
    /* animation-delay: .25s; */
    background-color: yellow;
  }

  .borderflipY4  {
    width: 3em;
    height: 3em;
    margin: 4px;
    padding: 10px;     
    animation-name: flipY4;
    animation-duration: 2s;
    animation-fill-mode: forward;
    /* animation-fill-mode: none; */
    /* animation-delay: .25s; */
    background-color: yellow;
  }

  .borderflipDG0  {
    width: 3em;
    height: 3em;
    margin: 4px;
    padding: 10px;     
    animation-name: flipDG0;
    animation-duration: 2s;
    animation-fill-mode: forward;
    /* animation-fill-mode: none; */
    /* animation-delay: .25s; */
    background-color: DimGray;
  }

  .borderflipDG1  {
    width: 3em;
    height: 3em;
    margin: 4px;
    padding: 10px;     
    animation-name: flipDG1;
    animation-duration: 2s;
    animation-fill-mode: forward;
    /* animation-fill-mode: none; */
    /* animation-delay: .25s; */
        background-color: DimGray;
  }

  .borderflipDG2  {
    width: 3em;
    height: 3em;
    margin: 4px;
    padding: 10px;     
    animation-name: flipDG2;
    animation-duration: 2s;
    animation-fill-mode: forward;
    /* animation-fill-mode: none; */
    /* animation-delay: .25s; */
    background-color: DimGray;
  }

  .borderflipDG3  {
    width: 3em;
    height: 3em;
    margin: 4px;
    padding: 10px;     
    animation-name: flipDG3;
    animation-duration: 2s;
    animation-fill-mode: forward;
    /* animation-fill-mode: none; */
    /* animation-delay: .25s; */
    background-color: DimGray;
  }

  .borderflipDG4  {
    width: 3em;
    height: 3em;
    margin: 4px;
    padding: 10px;     
    animation-name: flipDG4;
    animation-duration: 2s;
    animation-fill-mode: forward;
    /* animation-fill-mode: forward; */
    /* animation-delay: .25s; */
    background-color: DimGray;
  }




  @keyframes flipG {
    from {
      transform: scaley(1);
      background-color: white;
    }

    50%{
      transform: scaley(0);
      background-color: green;

    
    }

    to {
      transform: scaley(1);
      background-color: green;
    }
  }

  
  @keyframes flipG0 {
    from {
      transform: scaley(1);
      background-color: white;
    }

    10%{
      transform: scaley(0);
      background-color: white;    
    }

    20%{
      transform: scaley(1);
      background-color: green;    
    }

    to {
      transform: scaley(1);
      background-color: green;
    }
  }

  @keyframes flipG1 {
    from {
      transform: scaley(1);
      background-color: white;
    }
    20%{
      transform: scaley(1);
      background-color: white;    
    }

    30%{
      transform: scaley(0);
      background-color: white;    
    }

    40%{
      transform: scaley(1);
      background-color: green;    
    }

    to {
      transform: scaley(1);
      background-color: green;
    }
  }

  @keyframes flipG2 {
    from {
      transform: scaley(1);
      background-color: white;
    }

    40%{
      transform: scaley(1);
      background-color: white;    
    }

    50%{
      transform: scaley(0);
      background-color: white;    
    }

    60%{
      transform: scaley(1);
      background-color: green;    
    }

    to {
      transform: scaley(1);
      background-color: green;
    }
  }

  @keyframes flipG3 {
    from {
      transform: scaley(1);
      background-color: white;
    }
    60%{
      transform: scaley(1);
      background-color: white;    
    }

    70%{
      transform: scaley(0);
      background-color: white;    
    }

    80%{
      transform: scaley(1);
      background-color: green;    
    }

    to {
      transform: scaley(1);
      background-color: green;
    }
  }

  @keyframes flipG4 {
    from {
      transform: scaley(1);
      background-color: white;
    }

    80%{
      transform: scaley(1);
      background-color: white;    
    }

    90%{
      transform: scaley(0);
      background-color: white;    
    }

    100%{
      transform: scaley(1);
      background-color: green;    
    }

    to {
      transform: scaley(1);
      background-color: green;
    }
  }

  @keyframes flipY {
    from {
      transform: scaley(1);
      background-color: white;
      
    }

    50%{
      transform: scaley(0);
      background-color: yellow;

    
    }

    to {
      transform: scaley(1);
      background-color: yellow;

    }
  }

  @keyframes flipY0 {
    from {
      transform: scaley(1);
      background-color: white;
    }

    10%{
      transform: scaley(0);
      background-color: white;    
    }

    20%{
      transform: scaley(1);
      background-color: yellow;    
    }

    to {
      transform: scaley(1);
      background-color: yellow;
    }
  }

  @keyframes flipY1 {
    from {
      transform: scaley(1);
      background-color: white;
    }

    20%{
      transform: scaley(1);
      background-color: white;    
    }

    30%{
      transform: scaley(0);
      background-color: white;    
    }

    40%{
      transform: scaley(1);
      background-color: yellow;    
    }

    to {
      transform: scaley(1);
      background-color: yellow;
    }
  }

  @keyframes flipY2 {
    from {
      transform: scaley(1);
      background-color: white;
    }

    40%{
      transform: scaley(1);
      background-color: white;    
    }

    50%{
      transform: scaley(0);
      background-color: white;    
    }

    60%{
      transform: scaley(1);
      background-color: yellow;    
    }

    to {
      transform: scaley(1);
      background-color: yellow;
    }
  }

  @keyframes flipY3 {
    from {
      transform: scaley(1);
      background-color: white;
    }

    60%{
      transform: scaley(1);
      background-color: white;    
    }

    70%{
      transform: scaley(0);
      background-color: white;    
    }

    80%{
      transform: scaley(1);
      background-color: yellow;    
    }

    to {
      transform: scaley(1);
      background-color: yellow;
    }
  }

  @keyframes flipY4 {
    from {
      transform: scaley(1);
      background-color: white;
    }

    80%{
      transform: scaley(1);
      background-color: white;    
    }

    90%{
      transform: scaley(0);
      background-color: white;    
    }

    100%{
      transform: scaley(1);
      background-color: yellow;    
    }

    to {
      transform: scaley(1);
      background-color: yellow;
    }
  }

  @keyframes flipDG {
    from {
      transform: scaley(1);
      background-color: white;
    }

    50%{
      transform: scaley(0);
      background-color: dimgray;
    
    }

    to {
      transform: scaley(1);
      background-color: dimgray;
    }
  }

  @keyframes flipDG0 {
    from {
      transform: scaley(1);
      background-color: white;
    }

    10%{
      transform: scaley(0);
      background-color: white;    
    }

    20%{
      transform: scaley(1);
      background-color: dimgrey;    
    }

    to {
      transform: scaley(1);
      background-color: dimgrey;
    }
  }

  @keyframes flipDG1 {
    from {
      transform: scaley(1);
      background-color: white;
    }

    20%{
      transform: scaley(1);
      background-color: white;    
    }

    30%{
      transform: scaley(0);
      background-color: white;    
    }

    40%{
      transform: scaley(1);
      background-color: dimgrey;    
    }

    to {
      transform: scaley(1);
      background-color: dimgrey;
    }
  }

  @keyframes flipDG2 {
    from {
      transform: scaley(1);
      background-color: white;
    }

    40%{
      transform: scaley(1);
      background-color: white;    
    }

    50%{
      transform: scaley(0);
      background-color: white;    
    }

    60%{
      transform: scaley(1);
      background-color: dimgrey;    
    }

    to {
      transform: scaley(1);
      background-color: dimgrey;
    }
  }

  @keyframes flipDG3 {
    from {
      transform: scaley(1);
      background-color: white;
    }

    60%{
      transform: scaley(1);
      background-color: white;    
    }

    70%{
      transform: scaley(0);
      background-color: white;    
    }

    80%{
      transform: scaley(1);
      background-color: dimgrey;    
    }

    to {
      transform: scaley(1);
      background-color: dimgrey;
    }
  }

  @keyframes flipDG4 {
    from {
      transform: scaley(1);
      background-color: white;
    }

    80%{
      transform: scaley(1);
      background-color: white;    
    }

    90%{
      transform: scaley(0);
      background-color: white;    
    }

    100%{
      transform: scaley(1);
      background-color: dimgrey;    
    }

    to {
      transform: scaley(1);
      background-color: dimgrey;
    }
  }



  