.key, .key:hover, .key.active, .key:active {
  background-color: lightGrey;
  margin: 2px;
  padding: 6px;
  height: 60px;
  min-width: 1.82em;
  border: LightGrey;
  color: black;
  transition-delay: 2s;
}



.is-correct, .is-correct:hover  {
  background-color: green;
  transition-delay: 2s;
  color: black;
}

.in-word, .in-word:hover {
  background-color: rgb(184, 184, 0);
  transition-delay: 2s;
  color: black;
}

.not-in-word, .not-in-word:hover {
  background-color: Dimgray;
  transition-delay: 2s;
  color: black;
}

.blank .blank:hover{
  background-color: LightGrey;
  transition-delay: 2s;
  color: black;
}

